<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.time.blog.mapper.UserMapper">
    
    <select id="selectUserByCondition" resultType="com.time.blog.domain.entity.User">
        SELECT *
        FROM tm_user
        WHERE 1 = 1
        <if test="userName != null and userName != ''">
          <bind name="userNameLike" value="'%' + userName + '%'"/>
            AND user_name like #{userNameLike}
        </if>
        <if test="nickName != null and nickName != ''">
            <bind name="nickNameLike" value="'%' + userName + '%'"/>
            AND nick_name like #{nickNameLike}
        </if>
    </select>
</mapper>